@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/index.js" asp-append-version="true" defer></script>

<label for="date">Date:</label>
<input type="date" id="date">
<input type="submit" id="btn">

<div id="nasa" class="text-center">

</div>
